@using Belt.Models
<div class="row">
    <div class="col">
        <h1>Login</h1>
        @model LoginUser
        <form asp-action="Login" asp-controller="User" method="post">
            <div class="row">
                <div class="col-4">
                    <span asp-validation-for="EmailLogin"></span>
                    <label asp-for="EmailLogin"></label>
                </div>
                <div class="col-8">
                    <input asp-for="EmailLogin" class="col form-control"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <span asp-validation-for="PasswordLogin"></span>
                    <label asp-for="PasswordLogin"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PasswordLogin" class="col form-control"><br>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col-4">
                    <!-- <input type="checkbox" onclick="myFunction()">Show Password<br> -->
                </div>
                <div class="col-8">
                    <button class="btn btn-info" >Log In</button>
                </div>
            </div>
        </form>
    </div>
</div>