@using Belt.Models
@model Product
<div class="row">
    <div class="col-10">
        <h1>New Auction</h1>
    </div>
    <div class="col-2">
        [Back to auctions]
    </div>
</div>
<form asp-action="CreateAuction" asp-controller="Home" method=post>
    <div class="row">
        <div class="col">
            <span asp-validation-for="Name"></span><br>
            <label asp-for="Name"></label><br>
            <input asp-for="Name"/>
        </div>
        <div class="col">
            <span asp-validation-for="StartingBid"></span><br>
            <label asp-for="StartingBid"></label><br>
            <input asp-for="StartingBid"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span asp-validation-for="Description"></span><br>
            <label asp-for="Description"></label><br>
            <input asp-for="Description"/>
        </div>
        <div class="col">
            <span asp-validation-for="Deadline"></span><br>
            <label asp-for="Deadline"></label><br>
            <input asp-for="Deadline"/>
        </div>
            
    </div>
    <div class="row">
        <div class="col">
            <button>Create Auction</button>
        </div>
        <div class="col"></div>
    </div>
</form>